<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/app-route/app-location.js">
<link rel="import" href="../../bower_components/app-route/app-route.js">

<dom-module id="gestor-login">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>


   <div class="container">



     <div class="row">
     <h1>Login</h1>
     <span id="msg" name="msg"></span>

     <!--
      <app-location route="{{route}}"></app-location>
      <button class="btn btn-success" on-click="mostrarRoute">Route a Consola</button>
      <button class="btn btn-primary" on-click="cambiarRoute">cambiar route</button>
      -->
     </div>


       <div class="row">
         <div class="col-xs-6 col-lg-6 col-md-6">
           Usuario
         </div>
         <div class="col-xs-6 col-lg-6 col-md-6">
           <paper-input type="text" id="txtusuario" value="{{usuario}}" />
         </div>
       </div>
       <div class="row">
         <div class="col-xs-6 col-lg-6 col-md-6">
           Password
         </div>
         <div class="col-xs-6 col-lg-6 col-md-6">
           <paper-input type="password" id="txtpassword"
             value="{{password}}"
           </paper-input>
         </div>
       </div>
       <div class="row">
         <div class="col-xs-6 col-lg-6 col-md-6">
           <button on-click="login" class="btn btn-success col-lg-6 col-xs-12" type="button" name="button">Login</button>
         </div>
       </div>
       <div class="row">
         <span>{{messageLogin}}</span>
       </div>

    </div>

 </template>

 <script>
/*
 Polymer({
   is:'gestor-login',
   properties:{
     route:Object
   },
   mostrarRoute:function(){

   },
   cambiarRoute:function(){


   },
 })

   /**
    * @customElement
    * @polymer
    */
   class GestorLogin extends Polymer.Element {
     static get is() { return 'gestor-login'; }
     static get properties() {
       return {
         clientes: {
           type: Array,
           notify: true
         }
       };
     }
     mostrarRoute(){
       alert(this.route);
       console.log(this.route);
     }
     cambiarRoute(){
       //this.set('route.path','/');
       var valor="/gestor-clientes";
       this.set('router.path',valor);
     }
     login(){

       var request = new XMLHttpRequest();
      // var json = "{'usuario':'"+this.usuario+"','password':'"+this.password+"'}";
       var json = {
         usuario:this.usuario,
         password :this.password
       }
       json = JSON.stringify(json);
       console.log(json);
       //console.log(request);
       //request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
       request.open("POST", "http://localhost:3001/login", false);
       //request.setRequestHeader("Accept","application/json");
       request.setRequestHeader('Content-Type','application/json');

       request.send(json);
       //request.send(JSON.stringify({"usuario":"P023408S"}));
       //this.clientes = JSON.parse(request.responseText).value;
       var responseLogin = JSON.parse(request.responseText);
       if(responseLogin.esActivo=="1"){
         this.messageLogin = "Existe Usuario";
         window.location = "mantenimiento.html";

       }else{
        this.messageLogin = "Contraseña incorrecta";
       }
       console.log(responseLogin.perfil);
     }
     anadirClientes(){
       /*
       var request = new XMLHttpRequest();
       request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
       request.setRequestHeader("Accept","application/json");
       request.setRequestHeader("Conten-Type","application/json");
       var nuevoCliente = {"CustomerId":"12345","ContactName":"Pepe","CompanyName":"Pepe Bar"};
       var body = JSON.stringify(nuevoCliente);
       request.send(body);
       this.respuesta = request.responseText;
       console.log(this.respuesta);*/
     }
   }

   window.customElements.define(GestorLogin.is, GestorLogin);
 </script>
</dom-module>
