<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/bwt-datatable/bwt-datatable.html">
<head>
  <title>Mantenimiento Tasa Pizarra</title>
  
</head>
<dom-module id="gestor-mantenimiento">
 <template is="dom-bind" id="app">
   <style>
     :host {
       display: block;
     }
   </style>
   <div class="container">
     <div class="row">
       <h1>Gestor de Tasa Pizarra</h1>
       <!--<img class="col-lg-8 col-xs-12" src="https://image.flaticon.com/icons/png/512/1146/1146273.png" alt="" />
        -->
       <button on-click="obtenerTasa" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Obtener tasas</button>
     </div>
     <div class="row"><!--
       <table class="table table-striped col-lg-12 col-xs-12" name="table1" id="table1">
        <template is="dom-repeat" items={{tasapizarra}}>
           <tr>
             <td>[[item.id]]</td>
             <td>[[item.modulo]]</td>
             <td>[[item.moneda]]</td>
             <td>[[item.fechaInicio]]</td>
             <td>[[item.fechaFin]]</td>
             <td>[[item.estado]]</td>
           </tr>
          </template>
       </table>-->
     </div>


     <paper-datatable data="{{tasapizarra}}" id="tblpizarra" name="tblpizarra" response-width="767px">
      	<paper-datatable-column header="Id" property="id" sortable editable></paper-datatable-column>
        <paper-datatable-column header="Modulo" property="modulo" sortable editable></paper-datatable-column>
        <paper-datatable-column header="Moneda" property="moneda" sortable editable></paper-datatable-column>
        <paper-datatable-column header="Fecha Inicio" property="fechaInicio" sortable editable></paper-datatable-column>
        <paper-datatable-column header="Fecha Fin" property="fechaFin" sortable editable></paper-datatable-column>
        <paper-datatable-column header="Estado" property="estado" sortable editable></paper-datatable-column>
      </paper-datatable>


   </div>
 </template>

 <script>

  Polymer({
    is:'x-custom',

    ready:function(){

    }

  });
   /**
    * @customElement
    * @polymer
    */
   class GestorMantenimiento extends Polymer.Element {
     static get is() { return 'gestor-mantenimiento'; }
     static get properties() {
       return {
         tasapizarra: {
           type: Array,
           notify: true
         }
       };
     }

     /*
     obtenerTasa(){

       var request = new XMLHttpRequest();
       request.open("GET", "https://api.mlab.com/api/1/databases/dccopa/collections/tasapizarra?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt", false);
       request.setRequestHeader("Accept","application/json");
       request.send();
       this.tasapizarra = JSON.parse(request.responseText);
       console.log(this.tasapizarra);
     }*/

     obtenerTasa(){


       var request = new XMLHttpRequest();
       request.open("GET", "http://localhost:3001/consultatasapizarra",false);
       request.setRequestHeader("Accept","application/json");
       request.send();
       this.tasapizarra = JSON.parse(request.responseText);
       console.log(this.tasapizarra);
     }


    // obtenerTasa();
   }
   window.customElements.define(GestorMantenimiento.is, GestorMantenimiento);
 </script>
</dom-module>
